.aboutSection{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.aboutText{
    width: 650px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.aboutText h1{
    font-size: 3rem;
    color: #39A935;
}

.aboutText p{
    font-size: 1.5rem;
    font-weight: 300;
}
.aboutImg{
    width: 650px;
    height: 540px;
}

.aboutImg img{
    width: 650px;
    height: 540px;
}